<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
</head>
<body>
<div class="container">
    <h1 class="page-header text-primary text-center">Grid</h1>
    <div class="row ">
        <div class="col-md-1 well">col1</div>
        <div class="col-md-1 well">col2</div>
        <div class="col-md-1 well">col3</div>
        <div class="col-md-1 well">col4</div>
        <div class="col-md-1 well">col5</div>
        <div class="col-md-1 well">col6</div>
        <div class="col-md-1 well">col7</div>
        <div class="col-md-1 well">col8</div>
        <div class="col-md-1 well">col9</div>
        <div class="col-md-1 well">col10</div>
        <div class="col-md-1 well">col11</div>
        <div class="col-md-1 well">col12</div>
    </div>
    <div class="row">
        <div class="col-md-2 well">col1</div>
        <div class="col-md-2 well">col2</div>
        <div class="col-md-2 well">col3</div>
        <div class="col-md-2 well">col4</div>
        <div class="col-md-2 well">col5</div>
        <div class="col-md-2 well">col6</div>
    </div>
</div>
</body>
</html>